[Unit]
Description=PWMFan Controller
Documentation=https://github.com/eZioPan/pwmfan-go
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/pwmfan -config /etc/pwmfan/config.json
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -TERM $MAINPID
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
